<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
<h1>Welcome to the Board</h1>

<!-- 로그인한 사용자가 있을 경우 -->
<h2 th:if="${username != null}" th:text="${username} + '님'"></h2>

<!-- 로그인하지 않은 경우 -->
<h2 th:if="${username == null}">로그인 하세요</h2>

<!-- 회원가입 -->
<a href="/users/register" th:if="${username == null}">
    <button>회원가입</button>
</a>

<!-- 로그인 / 로그아웃 버튼 -->
<a th:if="${username == null}" href="/users/login">
    <button>로그인</button>
</a>

<a th:if="${username != null}" href="/logout">
    <button>로그아웃</button>
</a>

</body>
</html>
